<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Depression Test Screener</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
<header>
    <div class="container">
        <h1>Depression Test</h1>
        <p>Find out if you are experiencing symptoms of depression.</p>
    </div>
</header>

<section class="test-section">
    <div class="container">
        <h2>Depression Symptoms Questionnaire</h2>
        <form action="/submit" method="post" id="depression-test">
            {% for question in questions %}
            <div class="question">
                <label>{{ loop.index }}. {{ question }}</label>
                <div>
                    <input type="radio" name="question_{{ loop.index }}" value="0"> 😊<br>
                    <input type="radio" name="question_{{ loop.index }}" value="1"> 😐<br>
                    <input type="radio" name="question_{{ loop.index }}" value="2"> 😕<br>
                    <input type="radio" name="question_{{ loop.index }}" value="3"> 😢
                </div>
            </div>
            {% endfor %}
            <!-- Apply the modern button design to the submit button -->
            <button type="submit" class="submit-button">Submit</button>
        </form>
    </div>
</section>
</body>
</html>
