<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Depression Test Screener</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
    <div class="container">
        <h1>Depression Test</h1>
        <p>Find out if you are experiencing symptoms of depression.</p>
    </div>
</header>

<section class="test-section">
    <div class="container">
        <h2>Depression Symptoms Questionnaire</h2>
        <form id="depression-test">
            <div class="question">
                <label>1. I found myself getting upset by quite trivial things ?</label>
                <div>
                    <input type="radio" name="question1" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question1" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question1" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question1" value="3"> Applied to me very much, or most of the time
                </div>
                <label>2. I was aware of dryness of my mouth?</label>
                <div>
                    <input type="radio" name="question2" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question2" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question2" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question2" value="3"> Applied to me very much, or most of the time
                </div>
                <label>3. I couldn't seem to experience any positive feeling at all ?</label>
                <div>
                    <input type="radio" name="question3" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question3" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question3" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question3" value="3"> Applied to me very much, or most of the time
                </div>
                <label>4.I experienced breathing difficulty (eg. excessively rapid
                    breathing, breathlessness in the absence of physical exertion) ?</label>
                <div>
                    <input type="radio" name="question4" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question4" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question4" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question4" value="3"> Applied to me very much, or most of the time
                </div>
                <label>5.I just couldn't seem to get going ?</label>
                <div>
                    <input type="radio" name="question5" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question5" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question5" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question5" value="3"> Applied to me very much, or most of the time
                </div>
                <label>6. I tended to over-react to situations ?</label>
                <div>
                    <input type="radio" name="question6" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question6" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question6" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question6" value="3"> Applied to me very much, or most of the time
                </div>
                <label>7. I had a feeling of shakiness (e.g. legs going to give way)?</label>
                <div>
                    <input type="radio" name="question7" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question7" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question7" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question7" value="3"> Applied to me very much, or most of the time
                </div>
                <label>8. I found it difficult to relax?</label>
                <div>
                    <input type="radio" name="question8" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question8" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question8" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question8" value="3"> Applied to me very much, or most of the time
                </div>
                <label>9. I found myself in situations that made me so anxious
                    I was most relieved when they ended  ?</label>
                <div>
                    <input type="radio" name="question9" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question9" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question9" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question9" value="3"> Applied to me very much, or most of the time
                </div>
                <label>10. I felt that I had nothing to look forward to  ?</label>
                <div>
                    <input type="radio" name="question10" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question10" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question10" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question10" value="3"> Applied to me very much, or most of the time
                </div>
                <label>11. I found myself getting upset rather easily  ?</label>
                <div>
                    <input type="radio" name="question11" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question11" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question11" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question11" value="3"> Applied to me very much, or most of the time
                </div>
                <label>12. I felt that I was using a lot of nervous energy  ?</label>
                <div>
                    <input type="radio" name="question12" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question12" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question12" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question12" value="3"> Applied to me very much, or most of the time
                </div>
                <label>13. I felt sad and depressed?</label>
                <div>
                    <input type="radio" name="question13" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question13" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question13" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question13" value="3"> Applied to me very much, or most of the time
                </div>
                <label>14. I found myself getting impatient when I was delayed kept
                    waiting in any way (e.g. lifts, traffic lights, being kept waiting)?</label>
                <div>
                    <input type="radio" name="question14" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question14" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question14" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question14" value="3"> Applied to me very much, or most of the time
                </div>
                <label>15. I had a feeling of faintness ?</label>
                <div>
                    <input type="radio" name="question15" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question15" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question15" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question15" value="3"> Applied to me very much, or most of the time
                </div>
                <label>16. I felt that I had lost interest in just about everything  ?</label>
                <div>
                    <input type="radio" name="question16" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question16" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question16" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question16" value="3"> Applied to me very much, or most of the time
                </div>
                <label>17. I felt I wasn't worth much as a person  ?</label>
                <div>
                    <input type="radio" name="question17" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question17" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question17" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question17" value="3"> Applied to me very much, or most of the time
                </div>
                <label>18. I felt that I was rather touchy  ?</label>
                <div>
                    <input type="radio" name="question18" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question18" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question18" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question18" value="3"> Applied to me very much, or most of the time
                </div>
                <label>19. I perspired noticeably (e.g. hands sweaty) in the absence of
                    high temperatures or physical exertion ?</label>
                <div>
                    <input type="radio" name="question19" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question19" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question19" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question19" value="3"> Applied to me very much, or most of the time
                </div>
                <label>20. I felt scared without any good reason?</label>
                <div>
                    <input type="radio" name="question20" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question20" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question20" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question20" value="3"> Applied to me very much, or most of the time
                </div>
                <label>21. I felt that life wasn't worthwhile?</label>
                <div>
                    <input type="radio" name="question21" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question21" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question21" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question21" value="3"> Applied to me very much, or most of the time
                </div>
                <label>22. I found it hard to wind down ?</label>
                <div>
                    <input type="radio" name="question22" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question22" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question22" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question22" value="3"> Applied to me very much, or most of the time
                </div><label>23. I had difficulty in swallowing ?</label>
                <div>
                    <input type="radio" name="question23" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question23" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question23" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question23" value="3"> Applied to me very much, or most of the time
                </div>
                <label>24. I couldn't seem to get any enjoyment out of the things I did  ?</label>
                <div>
                    <input type="radio" name="question24" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question24" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question24" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question24" value="3"> Applied to me very much, or most of the time
                </div>
                <label>25. I was aware of the action of my heart in the absence of physical
                    exertion (e.g. sense of heart rate increase, heart missing a beat)?</label>
                <div>
                    <input type="radio" name="question25" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question25" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question25" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question25" value="3"> Applied to me very much, or most of the time
                </div>
                <label>26. I felt down-hearted and blue?</label>
                <div>
                    <input type="radio" name="question26" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question26" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question26" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question26" value="3"> Applied to me very much, or most of the time
                </div>
                <label>27. I found that I was very irritable?</label>
                <div>
                    <input type="radio" name="question27" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question27" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question27" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question27" value="3"> Applied to me very much, or most of the time
                </div>
                <label>28. I felt I was close to panic?</label>
                <div>
                    <input type="radio" name="question28" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question28" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question28" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question28" value="3"> Applied to me very much, or most of the time
                </div>
                <label>29. I found it hard to calm down after something upset me?</label>
                <div>
                    <input type="radio" name="question29" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question29" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question29" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question29" value="3"> Applied to me very much, or most of the time
                </div>
                <label>30. I feared that I would be "thrown" by some trivial
                    but unfamiliar task?</label>
                <div>
                    <input type="radio" name="question30" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question30" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question30" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question30" value="3"> Applied to me very much, or most of the time
                </div>
                <label>31. I was unable to become enthusiastic about anythingi?</label>
                <div>
                    <input type="radio" name="question31" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question31" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question31" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question31" value="3"> Applied to me very much, or most of the time
                </div>
                <label>32. I found it difficult to tolerate interruptions to what I was doing ?</label>
                <div>
                    <input type="radio" name="question32" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question32" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question32" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question32" value="3"> Applied to me very much, or most of the time
                </div>
                <label>33. I was in a state of nervous tension?</label>
                <div>
                    <input type="radio" name="question33" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question33" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question33" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question33" value="3"> Applied to me very much, or most of the time
                </div>
                <label>34. I felt I was pretty worthless?</label>
                <div>
                    <input type="radio" name="question34" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question34" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question34" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question34" value="3"> Applied to me very much, or most of the time
                </div>
                <label>35. I was intolerant of anything that kept me from getting on
                    with what I was doing ?</label>
                <div>
                    <input type="radio" name="question35" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question35" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question35" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question35" value="3"> Applied to me very much, or most of the time
                </div>
                <label>36. I felt terrified?</label>
                <div>
                    <input type="radio" name="question36" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question36" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question36" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question36" value="3"> Applied to me very much, or most of the time
                </div>
                <label>37. I could see nothing in the future to be hopeful about?</label>
                <div>
                    <input type="radio" name="question37" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question37" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question37" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question37" value="3"> Applied to me very much, or most of the time
                </div>
                <label>38. I felt that life was meaningless</label>
                <div>
                    <input type="radio" name="question38" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question38" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question38" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question38" value="3"> Applied to me very much, or most of the time
                </div>
                <label>39. I found myself getting agitated?</label>
                <div>
                    <input type="radio" name="question39" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question39" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question39" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question39" value="3"> Applied to me very much, or most of the time
                </div>
                <label>40. I was worried about situations in which I might
                    panic and make a fool of myself ?</label>
                <div>
                    <input type="radio" name="question40" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question40" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question40" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question40" value="3"> Applied to me very much, or most of the time
                </div>
                <label>41. I experienced trembling (e.g. in the hands)?</label>
                <div>
                    <input type="radio" name="question41" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question41" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question41" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question41" value="3"> Applied to me very much, or most of the time
                </div>
                <label>42. I found it difficult to work up the initiative to do things?</label>
                <div>
                    <input type="radio" name="question42" value="0"> Did Not Apply to me at all<br>
                    <input type="radio" name="question42" value="1"> Applied to me to some degree, or some of the time <br>
                    <input type="radio" name="question42" value="2"> Applied to me to a Consideratble degree , or a good part of time <br>
                    <input type="radio" name="question42" value="3"> Applied to me very much, or most of the time
                </div>

            </div>
            <!-- Repeat similar blocks for more questions -->
            <button type="submit">Submit</button>
        </form>
    </div>
</section>

<footer>
    <div class="container">
        <p>&copy; 2024 Mind Diagnostics</p>
    </div>
</footer>
</body>
</html>
